body {
	background-color: lightgray;
}

p {
    color: black;

    text-align: center;
  
    font-family: "Georgia", serif;

} 

h1 {text-align: center;
}

h3 {
    font-style: italic;
    text-align: center;
}